@font-face {
  font-family: "Sohna";
  src: 
       url("./assets/fonts/Sohne-latin-basic (1).woff2") format("woff2"),
       url("./assets/fonts/Sohne-latin-basic.woff2") format("woff2"),
       url("./assets/fonts/Sohne-minus-latin-basic.woff2") format("woff2");
       
  font-style: normal;
}

#root {
  width: 100%;
  height: 100vh;
}


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sohna, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.underline {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.nav-elements:hover .underline {
  opacity: 1;
}

.nav-elements {
  cursor: pointer;
}