@font-face {
  font-family: "Sohna";
  src: 
       url("./assets/fonts/Sohne-latin-basic (1).woff2") format("woff2"),
       url("./assets/fonts/Sohne-latin-basic.woff2") format("woff2"),
       url("./assets/fonts/Sohne-minus-latin-basic.woff2") format("woff2");
       
  font-style: normal;
}

@font-face {
  font-family: "Allen";
  src: 
       url("./assets/allen.woff2") format("woff2"),
       url("./assets/allen2.woff2") format("woff2"),
       url("./assets/allen3.woff2") format("woff2");
       
  font-style: normal;
}




#root {
  width: 100%;
  height: 100vh;
}


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Allen, Sohna, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overscroll-behavior-y: none;
}

.underline {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.nav-elements:hover .underline {
  opacity: 1;
}

.nav-elements {
  cursor: pointer;
}

.loginBtn {
  border: 2px solid #0b35f0;
  background-color: transparent;
  padding: 0;
  height: 38px;
  width: 64px;
  margin-bottom: 8px;
  border-radius: 24px;
  font-weight: 600;
  font-size: 12px;
  transition: transform 0.1s ease-out;





}

.loginBtn:hover {
  background-color: #0000003a;
  cursor: pointer;
}

.loginBtn:active {
  transform: scale(0.98);
}

@keyframes slidingIn {
  from {
    opacity: 0;
    transform: translateX(28vh);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-animation {
  animation: slidingIn 0.5s ease-in-out;
}

.streamButton {
  display: flex;
  font-size: 12px;
  color: #1E1E22;
  background-color: transparent;
  padding: 10.5px 16px;
  border-radius: 12px;
  text-align: center;
  border: 1px solid #c6c8cc;
  cursor: pointer;
  font-weight: 600;
  color: #494A4A;
  transition: all 0.185s ease-out;

}

.streamButton:hover {
  color: #1E1E22;
}

.viewAllCoursesBtn {
  background-color: #025fca;
  color: white;
}

.viewAllCoursesBtn:hover {
  background-color: #00489b;
  color: rgba(255, 255, 255, 0.714);
}


